* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  
  /* navbar */
  .navbar {
   position: relative;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 90px;
    z-index: 199;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px #4d4d4d;
  }

  
  /* logo  */
  .logo {
    
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    color: #3a73c2;
    gap: 10px;
    flex: 4;
  }
  
  
  /* ul  */
  .navMenu {
    flex: 4;
    display: flex;

    align-items: center;
    gap: 60px;
  }
  .adminbtn{
    flex: 1;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .adminbtn:hover{
    color: #3a73c2;
  }
  
  /* media queries */
  
  @media screen and (max-width: 780px){
    .language-selector{
      display: none;
    }
    .adminbtn{
      display: none;
    }
    /* hamburger */
    .hamburger {
    
      display: block;
      cursor: pointer;
      z-index: 201;
    }
  
    .bar {
          background-color: #120f0b;
          width: 20px;
          height: 3px;
          display: block;
          margin: 5px;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
      }
  
    /* adding active class to the bars  */
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
  
  
    /* navMenu */
  
    .navMenu{
      display: none;
      position: absolute;
      flex-direction: column;
      gap: 0;
      top: 70px;
      left: -100%;
      text-align: start;
      width: 100%;
      transition: 0.7s ease-in-out;
      background-color: rgb(252, 252, 252);
      padding: 10px;
    }
  
    .navMenu.active{
      left: 0;
    }
  
    .navMenu li {
      margin: 16px 0;
    }
  }
  .nav_btn {
  background: transparent;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.nav_btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #3a73c2;
  transition: 0.5s ease;
}

.nav_btn:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
}

.nav_btn:hover::before {
  width: 100%;
}

.nav_btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: 0.4s ease;
  z-index: -1;
}

.nav_btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}


.language-selector{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.language-selector:hover{
  color: #3a73c2;
}